* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

#body {
	margin: 0 auto;
	background: linear-gradient(0deg, #DCDCDC, #696969);
}

/* #body без #footer */
#content {
	min-height: calc(100vh - 20px);
}

#header {
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
}

#main {
	margin: 20vh auto;

	text-align: center;
}

#footer {
	min-height: 20px;
	text-align: center;
	background-color: #FFFFFF;
}

table {
	border: 2px solid #FFFFFF;
	margin: 0 auto;
}

ul {
	margin: 2px 0;
	padding: 0;
	text-align: center;
}

input {
	margin-top: 1px;
	min-width: 175px;
	width: 90%;
}

li {
	display: inline;
	margin-right: 5px;
}

a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:active { text-decoration: none }
